---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Links de Descargas"
	description="Aquí encontrarás enlaces de descarga para juegos, software y otros recursos relacionados con los videojuegos."
	heroImage="/blog-placeholder-about.jpg"
>
	<h6 class="h6-rgb-gradient">Software y Emuladores Sugeridos</h6>
	<p>
		En esta sección, podrás encontrar enlaces de descarga para una variedad de juegos, software y otros recursos relacionados con los videojuegos. Ya sea que estés buscando un nuevo juego para jugar, herramientas para mejorar tu experiencia de juego o recursos educativos sobre videojuegos, aquí encontrarás lo que necesitas.
        tip: usa ctrl+f para encontrar de manera más rápida lo que buscas.

	</p>
</Layout>